<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todos</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+zr/BLk7rEy3NI6z9xg0p4U1T5Q8F1CJz1wnqs1" crossorigin="anonymous">
</head>

<body>
  <div class="container-box">
    <div class="container">
      <div class="row">
        <h1 class="mt-4 text-center">Todos</h1>
      </div>
      <form [formGroup]="todoForm" (ngSubmit)="addTodo()">
        <div class="row mt-3">
          <div class="col-md-6 width-task">
            <input type="text" class="form-control" placeholder="What needs to be done?" formControlName="newTodo">
        </div>        
          <div class="col-md-2 custom-width">
            <input type="date" class="form-control" formControlName="newDeadline">
         </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary" [disabled]="todoForm.invalid">Add</button>
          </div>
        </div>
        <div class="row mt-3" *ngIf="todoForm.invalid && todoForm.dirty">
          <div class="col-md-12">
            <div class="text-danger validation-messages">
              <ul>
                <li *ngIf="todoForm.get('newTodo')?.errors?.['required']">Task is required.</li>
                <li *ngIf="todoForm.get('newTodo')?.errors?.['minlength']">Task must be at least 11 characters long.</li>
                <li *ngIf="todoForm.get('newDeadline')?.errors?.['required']">Deadline is required.</li>
              </ul>
            </div>
          </div>
        </div>
      </form>           
      <div class="row mt-3">
        <div class="col-md-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Task</th>
                <th>Deadline</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let todo of todos; let i = index" [ngClass]="{ 'overdue': isOverdue(todo) }">
                <td>{{ todo.task }}</td>
                <td>{{ todo.deadline | date }}</td>
                <td [ngClass]="{'completed': todo.isCompleted}">
                  {{ todo.isCompleted ? 'Done' : 'Pending' }}
                </td>
                <td>
                  <button class="btn btn-primary" (click)="markTodo(todo)">
                    {{ isMarkingCompleted ? 'Mark Completed' : 'Mark Incomplete' }}
                  </button>
                  <button class="btn btn-sm btn-outline-danger" (click)="deleteTodo(todo)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <span>{{ todos.length }} items left</span>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
          <button class="btn btn-sm btn-outline-primary mr-2" (click)="getAllTodos()">All</button>
          <button class="btn btn-sm btn-outline-primary mr-2" (click)="getActiveTodos()">Active</button>
          <button class="btn btn-sm btn-outline-primary" (click)="getCompletedTodos()">Completed</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>